@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h2>Online Ticari Otomasyon Cari Bilgi Paneli</h2>

@using (Html.BeginForm("Index2", "CariPanel", FormMethod.Post))
{
    <table class="table table-hover">
        <tr>
            <td>
                <label>Mail Adresi : @HttpContext.Current.User.Identity.Name</label>
            </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CardiAd, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })</td>
        </tr>
    </table>
    <button class="btn btn-warning">Bilgilerimi Güncelle</button>
}