@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam Tutar</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>Teslim Detayları</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaID</td>
            <td>@k.FaturaSeriNo</td>
            <td>@k.FaturaSiraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>100</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td><a href="~/Departman/DepartmanGetir/@k.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="~/Departman/DepartmanDetay/@k.FaturaID" class="btn btn-default" style="background-color:lightcoral;color:white;">Detaylar</a></td>
        </tr>
    }
</table>
<a href="~/Departman/DepartmanEkle" class="btn btn-info">Kategori Ekle</a>

