@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kalem Giriş Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Miktar)
    @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BİrimFiyat)
    @Html.TextBoxFor(x => x.BİrimFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tutar)
    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaID)
    @Html.TextBoxFor(x => x.FaturaID, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>




