@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Müşteri</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam Tutar</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detay</th>
        </tr>
    </thead>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.SatisID</td>
            <td>@p.Urun.UrunAd</td>
            <td>@p.Cariler.CardiAd @p.Cariler.CariSoyad</td>
            <td>@p.Personel.PersonelAd @p.Personel.PersonelSoyad</td>
            <td>@p.Adet</td>
            <td>@p.Fiyat</td>
            <td>@p.ToplamTutar</td>
            <td>@p.Tarih.ToShortDateString()</td>
            <td><a href="~/Satis/SatisGetir/@p.SatisID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="~/Satis/SatisDetay/@p.SatisID" class="btn btn-default" style="background-color:lightcoral;color:white;">Detaylar</a></td>
        </tr>
    }
</table>
<a href="~/Satis/YeniSatis" class="btn btn-info">Yeni Satış Yap</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>


