@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Satış Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Ürün")
    @Html.DropDownListFor(x => x.UrunID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri")
    @Html.DropDownListFor(x => x.CariID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet")
    <input id="adet" type="number" class="form-control" min="1" max="10" placeholder="Adet Girin" onchange="sum();" name="Adet" />
    <br />
    @Html.Label("Fiyat")
    <input id="fiyat" type="text" name="Fiyat" value="Fiyat Girin" class="form-control" onkeyup="sum();" />
    <br />
    @Html.Label("Toplam Tutar")
    <input id="toplam" type="text" name="ToplamTutar" value="0" class="form-control" readonly />
    <br />
    <button class="btn btn-primary">Satış Yap</button>
</form>
<script>
    function sum() {
        var sayi1 = document.getElementById('adet').value;
        var sayi2 = document.getElementById('fiyat').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById('toplam').value = sonuc;
        }
    }
</script>
