@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Müşteri Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x => x.CardiAd, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Soyad")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Şehir")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Mail")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

