@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get)) { 
    <p>
        Ürün Adı : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var u in Model) { 
        <tr>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyati ₺</td>
            <td>@u.SatisFiyati ₺</td>
            <td>@u.Kategori.KategoriAd</td>
            <td><a href="~/Urun/UrunSil/@u.UrunID" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a></td>
            <td><a href="~/Urun/SatisYap/@u.UrunID" class="btn btn-default" style="background-color:#0094ff; color:white;">Satış Yap</a></td>
        </tr>
    }
</table>
<a href="~/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>

