@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new {enctype ="multipart/form-data"}))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.PersonelID)
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelGorsel)
        <input type="file" name="PersonelGorsel" />
        <br />
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

        <br />
        <button class="btn btn-defalut" style="background-color:yellowgreen">Güncelle</button>
    </div>
}
